// colors
$yellow: #f9b43b;
$orange: #e45028;
$red: #e35028;
$black: #2f3234;
$white: #fff;
$grey: #2f3234;

$z-fixed-menu: 100;

// normalize
@import "./_misc/normalize";

// setups
@import "./_misc/mixins";
@import "./_misc/fonts";
@import "./_misc/media";
@import "./_misc/layout";
@import "./_misc/widgets";
@import "./_misc/onepage-scroll";



// blocks
@import "blocks/header";
@import "blocks/hamburger-menu";
@import "blocks/nav";
@import "blocks/btn";
@import "blocks/promo";
@import "blocks/reviews";
@import "blocks/form";
@import "blocks/fixed-menu";
@import "blocks/order";
@import "blocks/advantages";
@import "blocks/content";
@import "blocks/offer";
@import "blocks/team";
@import "blocks/accordeon";
@import "blocks/burgers";
@import "blocks/burger-menu";
@import "blocks/presentation";
@import "blocks/footer";
@import "blocks/slider";
@import "blocks/modal";
@import "blocks/map";