.advantages {
  background-image: url("../img/bg/best.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages-content {
  display: flex;
  flex-direction: column;
}

.advantages-content__title {
  margin-bottom: 4.2rem;
}



