.btn {
  padding: .75rem /* 12/16 */ .9375rem /* 15/16 */;
  border-radius: .3125rem /* 5/16 */;
  background-color: $red;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  font-size: .8125rem /* 13/16 */;
}
