.burgers {
  position: relative;
  min-width: 100%;
  background-image: url("../img/bg/selection.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.burgers__scroll {
  align-self: center;
  position: absolute;
  width: 95%;
  display: flex;
  justify-content: space-between;
}


.burgers__container {
  display: flex;
  flex-wrap: wrap;
}

.burger__column {
  width: 50%;
  &:nth-child(2) {
    padding-left: 20px;
  }
}

.burger__descr {
  @include ubuntu;
  color: $white;
  margin-top: 50px;
}

.burger__price {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  

  &-title {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    color: $red;
  }
 
  &-text {
    font-size: 52px;
    margin-right: 50px;
  }
}


//Floating menu
.burger__composition {
  display: flex;
}

.burger__composition-list--reveal {
  display: block;
  background-color: $white;
  opacity: .9;
  border-radius: 8px;
}

.burger__composition-button {
  background-color: $red;
  border-radius: 5px;
  width: 90px;
  height: 90px;
  padding: 10px;
}

.burger__composition-title {
  @include gagalin();
  color: $white;
}

.burger__composition-list {
  display: flex;
  // flex-wrap: wrap;
  flex-direction: column;
}

.burger__composition-item {
  @include ubuntu(medium);
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  color: $black;
  // align-items: center;
  // margin-left: 90px;
  // margin-top: 30px;
}

.burger__composition-item-icon {
  height: 10%;
  width: 10%;
}

.burger__composition-item-name {

  &:before {
    content: '';
    display: block;
    // position: absolute;
    // margin-left: -62px;
    // margin-top: -10px;
    width: 44px;
    height: 39px;
  }

  &:after {
    @include ubuntu();
    position: absolute;
    margin-left: 100px;
  }

  &:nth-child(1) {

    &:after {
      content: '300 г';
    }
  }

  &:nth-child(2) {

    &:after {
      content: '100 г';
    }
  }

  &:nth-child(3) {

    &:after {
      content: '70 г';
    }
  }

  &:nth-child(4) {

    &:after {
      content: '150 г';
    }
  }

  &:nth-child(5) {

    &:after {
      content: '200 г';
    }
  }

  &:nth-child(6) {

    &:after {
      content: '80 г';
    }
  }
}

.burger__calories {
  position: relative;
  width: 14%;
  text-align: center;
  color: $white;
}

.burger__calories-numbers {
  position: absolute;
  @include gagalin();
  font-size: 20px;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.burger__calories-text {
  @include gagalin();
  font-size: 14px;
}

.burger__composition-icon {
  width: 75%;
}