.burger-menu {
  justify-content: space-between;
  align-items: stretch;
  background-image: url("../../img/bg/burger-section.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.burger-menu__title {
  padding-left: 50px;
  padding-top: 150px;
}

