.burgers {
  position: relative;
  min-width: 100%;
  background-image: url("../img/bg/selection.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.burgers__scroll {
  align-self: center;
  position: absolute;
  width: 95%;
  display: flex;
  justify-content: space-between;
}


.burgers__container {
  display: flex;
  flex-wrap: wrap;

  @include tablets {
    flex-direction: column;
    align-items: center;
  }
}

.burger__column {
  width: calc(50% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include tablets {
    width: 60%;
  }

  &:nth-child(1) {
    @include tablets {
    flex-direction: row;
    }
  }

  &:nth-child(2) {
    padding-left: 20px;

    @include tablets {
      align-self: center;
      text-align: center;
    }
  }
}

.burger__descr {
  @include ubuntu;
  color: $white;
  margin-top: 3.125rem;
}

.burger__price {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  

  &-title {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    color: $red;
  }
 
  &-text {
    font-size: 3.25rem;
    margin-right: 3.125rem;
  }
}

//Floating menu
.burger__composition {
  display: flex;
  position: relative;
}

.burger__composition-button {
  background-color: $red;
  border-radius: 5px;
  width: 5.625rem;
  height: 5.625rem;
  padding: .625rem;
}

.burger__composition-title {
  @include gagalin();
  color: $white;
}

.burger__composition-list {
  width: 60%;
  height: 0%;
  overflow: hidden;
  display: flex;
  position: absolute;
  left: 5.625rem;
  flex-direction: column;
  background-color: $white;
  opacity: .9;
  border-radius: 8px;
}

.burger__calories-icon {
  width: 60px;
}

.burger__composition-list--reveal {
  height: 31.25rem;
}

.burger__composition-item {
  display: flex;
  align-items: center;
  @include ubuntu(medium);
  flex-wrap: wrap;
  padding: 20px;
  color: $black;
}

.burger__composition-item-icon {
  height: auto;
  width: 21%;
}

.burger__composition-item {
  &:after {
    @include ubuntu();
    margin-left: auto;
  }

  &:nth-child(1) {
    &:after {
      content: '300 г';
    }
  }

  &:nth-child(2) {
    &:after {
      content: '300 г';
    }
  }

  &:nth-child(3) {
    &:after {
      content: '70 г';
    }
  }

  &:nth-child(4) {
    &:after {
      content: '150 г';
    }
  }

  &:nth-child(5) {
    &:after {
      content: '200 г';
    }
  }

  &:nth-child(6) {
    &:after {
      content: '80 г';
    }
  }
}

.burger__composition-item-name {
  margin-left: 50px;  
}

.burger__calories {
  position: relative;
  width: 14%;
  text-align: center;
  color: $white;
}

.burger__calories-numbers {
  position: absolute;
  @include gagalin();
  font-size: 20px;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);

  @include tablets {
    top: 6%;
  }
}

.burger__calories-text {
  @include gagalin();
  font-size: 14px;
}

.burger__composition-icon {
  width: 75%;
}

.burger__calories {
  width: auto;
  height: auto;
  max-height: 75px;
  max-width: 60px;
}

.burger__pic {
  width: 100%;

  @include tablets {
    width: 80%;
  }
}