.burgers {
  position: relative;
  min-width: 100%;
  background-image: url("../img/bg/selection.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.burger__title.title {
  @include phones {
    font-size: 3.5rem;
  }
}

.burgers__container {
  display: flex;
  flex-wrap: wrap;
  width: 95vw;
  margin: 0;
  justify-content: center;

  @include tablets {
    flex-direction: column;
    align-items: center;
  }
}

.burger__column {
  width: calc(50% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include tablets {
    width: 100%;
  }

  &:nth-child(1) {
    @include tablets {
    flex-direction: row;
    }
  }

  &:nth-child(2) {
    padding-left: 20px;

    @include tablets {
      align-self: center;
      text-align: center;
    }
  }
}

.burger__descr {
  @include ubuntu;
  color: $white;
  margin-top: 1.25rem;
  margin-bottom: .625rem;

  @include phones {
    font-size: 1.05rem;
  }
}

.burger__price {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  @include tablets {
    justify-content: center;
  }

  &-title {
    display: flex;
    align-items: flex-end;
    color: $red;
  }
 
  &-text {
    font-size: 3.25rem;
    margin-right: 3.125rem;
  }
}

//Floating menu
.burger__composition {
  display: flex;
  position: relative;

  @include tablets {
    position: absolute;
    left: 5.3125rem;
  }

  @include phones {
    left: 0.1125rem;
  }
}

.burger__composition-button {
  background-color: $red;
  border-radius: 5px;
  width: 5.625rem;
  height: 5.625rem;
  padding: .625rem;
}

.burger__composition-title {
  @include gagalin();
  color: $white;
}

.burger__composition-list {
  height: 0;
  overflow: hidden;
  display: flex;
  position: absolute;
  left: 5.625rem;
  flex-direction: column;
  background-color: $white;
  opacity: .9;
  border-radius: 8px;
}

.burger__calories-icon {
  width: 60px;
}

.burger__composition-list--reveal {
  height: 24.55rem;
}

.burger__composition-item {
  display: flex;
  margin: 12px 50px 12px 20px;
  align-items: center;
  @include ubuntu(medium);
  color: $black;
}

.burger__composition-close {
  &-button {
    right: 0;
    top: 1.25rem;
    position: absolute;
  }

  &-icon {
    height: 1.25rem;
  }
}

.burger__composition-item-icon {
  height: 2.4375rem;
  width: 2.4375rem;
}

.burger__composition-item {
  &:after {
    @include ubuntu();
    margin-left: auto;
    white-space: nowrap;
  }

  &:nth-child(1) {
    &:after {
      content: '300 г';
    }
  }

  &:nth-child(2) {
    &:after {
      content: '100 г';
    }
  }

  &:nth-child(3) {
    &:after {
      content: '70 г';
    }
  }

  &:nth-child(4) {
    &:after {
      content: '150 г';
    }
  }

  &:nth-child(5) {
    &:after {
      content: '200 г';
    }
  }

  &:nth-child(6) {
    &:after {
      content: '80 г';
    }
  }
}

.burger__composition-item-name {
  margin-left: 1.375rem; 
  margin-right: 1rem;
}

.burger__calories {
  position: relative;
  width: 14%;
  text-align: center;
  color: $white;

  @include tablets {
    position: absolute;
    right: 5rem;
  }

  @include phones {
    position: absolute;
    right: 0.1125rem;
  }
}

.burger__calories-numbers {
  position: absolute;
  @include gagalin();
  font-size: 20px;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);

  @include tablets {
    top: 6%;
  }
}

.burger__calories-text {
  @include gagalin();
  font-size: 14px;
}

.burger__composition-icon {
  width: 75%;
}

.burger__calories {
  width: auto;
  height: auto;
  max-height: 75px;
  max-width: 60px;
}

.burger__photo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger__pic {
  max-width: 65%;
}