.burger-menu {
  position: relative;
  align-items: flex-end;
  background-image: url("../../img/bg/burger-section.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.burger-menu__title {
  position: absolute;
  top: 7.125rem;
  left: 1.9375rem;
}

