.fixed-menu {
  position: fixed;
  top: 10%;
  right: 2.5%;
  z-index: 2;
  
  &__item {
    margin-bottom: .375rem;
  }

  &__dot {
    display: block;
    height: .9375rem;
    width: .9375rem;
    border-radius: 50%;
    border: 1px solid transparent;
    margin-bottom: .1875rem;
    position: relative;
  
    &--active {
      border-color: $white;
    }
  
    &:before {
      content: '';
      width: .375rem;
      height: .375rem;
      background-color: $white;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  @include tablets {
    display: none;
  }
}
