.footer {
  background-image: url("../../img/bg/footer.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__contact {
  
  &-address { 
    @include ubuntu();
    color: $white;
}

  &-phone {
    @include ubuntu(medium);
    color: $red;
  }
}

.footer__social {
  display: flex;
  margin: 20px 0;

  &-item {
    margin-left: 20px;
    
    &:nth-child(1) {
      margin-left: 0;
    }
  }
}

.footer__social-icon-pic {
  viewBox: 0 0 20 20;
}

.test {
  width: 10px;
  height: 10px;
}