.footer {
  background-image: url("../../img/bg/footer.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include phones {
    flex-direction: column;
  }
}

.footer__contact {
  
  &-address { 
    @include ubuntu();
    color: $white;
}

  &-phone {
    @include ubuntu(medium);
    color: $red;
  }
}

.footer__social-list {
  display: flex;
  margin: 20px 0;
}

.footer__social-item {
  margin-left: 0px;
  
  &:nth-child(1) {
    margin-left: 0;
  }
}

.footer__social-icon {
  display: flex;
  box-sizing: border-box;

}

.footer__social-icon-pic {
  width: 100%;
  height: 100%;
  max-width: 20px;
  max-height: 20px;
  margin-left: 50px;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}