
.header {
  position: absolute;
  width: 100%;
  padding-top: .75rem /* 12/16 */;
  z-index: 1;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__wrapper {
  margin-left: .9375rem /* 15/16 */;
}

