
.header {
  position: absolute;
  width: 100%;
  padding-top: .75rem /* 12/16 */;
  z-index: 1;
  top: 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__wrapper {
  width: calc(100% - 7.14187rem);
  margin-right: 1.25rem;
}

.logo {
  z-index: 100;
  width: 6.141875rem /* 98.27/16 */;
  height: 4.645rem /* 74.32/16 */;
}
