.nav {
  width: 100%;
  margin-left: 1.25rem;
  margin-top: .6875rem;
  
  @include tablets {
    display: flex;
    justify-content: flex-end;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.nav__hidden-list {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  background-color: $grey;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &--reveal {
    display: flex;
    overflow: hidden;
  }
}
//li - last item
.nav__hidden-btn {
  position: absolute;
  right: 0;
  top: 0;
}

.nav__hidden-link {
  @include ubuntu();
  color: $white;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.nav__hidden-close-btn-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.nav__item {
  display: flex;
  flex: 1 1 auto;
  align-items: center; // Иначе псевдоэлемент, который является потомком, будет прибит к верху 

  @include tablets {
    display: none;
  }

  &:after {
    content: "";
    width: .25rem /* 4/16 */;
    height: .25rem /* 4/16 */;
    background-color: $white;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  } 

  &:nth-last-child(2) { // Сняли буллет у предпоследнего элемента. У последнего же снято путем удаления модификатора
    &:after {
      display: none;
    }
  }
}

.nav__link {
  text-decoration: none;
  color: $white;
  font-size: .8125rem /* 13/16 */;
  text-transform: uppercase;
}