.nav {
  width: 100%;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include tablets {
    justify-content: flex-end;
  }
} 

.nav__item {
  // margin-right: .9375rem /* 15/16 */;
  display: flex;
  flex: 1 1 auto;
  align-items: center; // Иначе псевдоэлемент, который является потомком, будет прибит к верху 

  @include tablets {
    display: none;
  }

  &:after {
    content: "";
    width: .25rem /* 4/16 */;
    height: .25rem /* 4/16 */;
    background-color: $white;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  } 

  &:nth-last-child(2) { // Сняли буллет у предпоследнего элемента. У последнего же снято путем удаления модификатора
    &:after {
      display: none;
    }
  }
}

.nav__link {
  text-decoration: none;
  color: $white;
  font-size: .8125rem /* 13/16 */;
  text-transform: uppercase;
}