// 1. Выравниваем элементы по центру превращая во флекс. Задаем одинаковый размер контент бокса. Добавляем марджин между элементами offer__item. Убираем margin-left у первого элемента.
// 2. Подключаем иконки для каждого элемента
.offer {
  display: flex;
  
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: calc(99% / 3);
    margin-left: 1.25rem /* 20/16 */;
  }
  
  &__item {
    &:nth-child(1) {
      margin-left: 0;

      &:before {
        background-image: url("../img/icons/meat.svg");
        content: '';
        width: 4.5625rem /* 73/16 */;
        height: 5.3125rem /* 85/16 */;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  &__item {
    &:nth-child(2):before {
      background-image: url("../img/icons/hand.svg");
      content: '';
      width: 4.5625rem /* 73/16 */;
      height: 5.3125rem /* 85/16 */;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__item {
    &:nth-child(3):before {
      background-image: url("../img/icons/natural.svg");
      content: '';
      width: 4.5625rem /* 73/16 */;
      height: 5.3125rem /* 85/16 */;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.offer__title {
  @include lifehack();
  color: $black;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.14px;
  letter-spacing: -0.6px;
  text-align: center;
}

.offer__text {
  text-align: center;
}