.offer {
  display: flex;
  
  @include phones {
    flex-direction: column;
    align-items: flex-end;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: calc(99% / 3);
    margin-left: 1.25rem;

    @include phones {
      width: 70%;
      align-items: flex-start;
    }
  }  

  &__icon {
    width: 96.43px;
    height: 89.25px;
    margin-bottom: 1.8125rem;

    @include phones {
      position: absolute;
      left: -42%;
    }
  }
}

.offer__title {
  @include lifehack();
  color: $black;
  margin-bottom: 1.1875rem;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.14px;
  letter-spacing: -0.6px;
  text-align: center;

  @include phones {
    text-align: left;
  }
}

.offer__text {
  text-align: center;

  @include phones {
    text-align: left;
    margin-bottom: 44px;
  }
}