.presentation {
  background-image: url(../../img/bg/presentation.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.presentation__video {
  display: block;
  border: 2px black solid;
  margin: 0 auto;
}