.promo {
  background-image: url("../img/bg/main.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative; // чтобы сделать кнопку абсолютом?
}

.promo__container {
  flex-wrap: wrap;

  @include tablets {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

// content - title - subtitle - scroll-btn
.promo {
  &__content {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    position: relative;

    @include tablets {
      flex-direction: column;
    }
  }

  &__title {
    margin-left: 1.875rem;

    @include tablets {
      text-align: center;
    }
  }

    &__subtitle {
      margin-top: 1.7rem;
      @include lifehack();
      font-style: 3.5rem;
      color: $white;
      line-height: .9;
    }      
    
  &__scroll-btn {  
      position: absolute;
      left: 50%;
      top: 88%;
      transform: translateX(-50%);
      width: 1.7925rem;
      height: .905rem;
    }
  }

//     @include tablets {
//       position: static;
//     }
 

